<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button>
        <app-language-selector></app-language-selector>
      </ion-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    <ion-card-content>
      <ion-card-title>
        <span translate>Acortador de URLS o enlaces</span>
      </ion-card-title>
      <p>Acorta tu URL aquí</p>
      <br /><br />
      <div style="padding: 2%">
        <ion-item>
          <ion-label>Enter your URL</ion-label>
          <ion-imput placeholder="www.google.com" type="test" [(ngModel)]="inputURL"></ion-imput>
          <ion-button color="primary" (click)="showURL(inputURL)">
            <ion-icon name="cut-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-card *ngFor="let card of URLcards.reverse()">
  <ion-card-header color="primary">
    <ion-item color="primary" lines="none">
      <h2>{{ card.hostname }}</h2>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <a href="{{ card.short_url }}">{{ card.short_url }}</a>
      <ion-buttons item-end>
        <ion-button (click)="copyURL(card.short_url)">
          <ion-icon size="large" color="primary" name="copy-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none"><b>Redirect URL:</b>&nbsp; {{ card.long_url }}</ion-item>
    <ion-item lines="none">
      <b>Created at:</b>&nbsp; {{ card.created_at * 1000 | date: 'dd/MM/yyyy, hh:mm' }}
    </ion-item>
  </ion-card-content>
</ion-card>
